问题：TimersBase类设计说明？
试答：纯虚函数，定时器管理类基类，提供onCancel()接口。就2.3.0版本而言，没有特殊用处。
说明：timer.h


问题：TimersT模板类设计说明？
试答：定时器的管理类，根据传入的类型分为64位和32位两个管理类。
说明：timer.h


问题：Timers类构造函数？
试答：初始化成员变量。
说明：timer.inl(6)


问题：Timers类析构函数？
试答：定时器清理，但是因为EventDispatcher类在析构的时候会调用该类的clear()函数，所以这里只是多了一重保证而已。
说明：timer.inl(15)


问题：Timers类size()？
试答：返回队列中定时器数量。
说明：timer.h(115)


问题：Timers类empty()？
试答：返回队列中定时器数量是否为空。
说明：timer.h(116)


问题：Timers类process()？
试答：timeQueue_队列是按时间从小到大排序的，所以在处理队列时，只要是小于等于当前时间的定时器，那么都要进行处理。
	  从队列头部弹出定时器：
	  如果没有被取消则触发定时器的处理逻辑；
	  如果处理完成的定时器还没有被取消则添加到队列末尾；
	  如果是被取消的则从队列中移除；	  
	  
	  pProcessingNode_， lastProcessTime_这个变量2.3.0版本看来没有什么用处。	  
说明：timer.inl(118)