问题：TimersBase类设计说明？
试答：纯虚函数，定时器管理类基类，提供onCancel()接口。就2.3.0版本而言，没有特殊用处。
说明：timer.h


问题：TimersT模板类设计说明？
试答：定时器的管理类，根据传入的类型分为64位和32位两个管理类。
说明：timer.h


问题：TimersT模板类构造函数？
试答：初始化成员变量。
说明：timer.inl(6)


问题：TimersT模板类析构函数？
试答：定时器清理，但是因为EventDispatcher类在析构的时候会调用该类的clear()函数，所以这里只是多了一重保证而已。
说明：timer.inl(15)


问题：TimersT模板类size()？
试答：返回队列中定时器数量。
说明：timer.h(115)


问题：TimersT模板类empty()？
试答：返回队列中定时器数量是否为空。
说明：timer.h(116)


问题：TimersT模板类process()？
试答：timeQueue_队列是按时间从小到大排序的，所以在处理队列时，只要是小于等于当前时间的定时器，那么都要进行处理。
	  从队列头部弹出定时器：
	  如果没有被取消则触发定时器的处理逻辑；
	  如果处理完成的定时器还没有被取消则添加到队列末尾；
	  如果是被取消的则从队列中移除；	  
	  
	  pProcessingNode_， lastProcessTime_这个变量2.3.0版本看来没有什么用处。	  
说明：timer.inl(118)


问题：TimersT模板类legal()？
试答：用来检测TimeHandle是否有效的接口。2.3.0办法没有用到。
说明：timer.inl(143)


问题：TimersT模板类nextExp()?
试答：返回距离下次定时器触发的时间。组件会利用这段时间去处理网络事件。见processNetwork()函数。
说明：timer.inl(173)


问题：TimersT模板类clear()?
试答：清理定时器。函数有个参数是shouldCallCancel；
	  EventDispatcher类在析构的时候会调用该类的clear()函数，shouldCallCancel是false，意味着就是单纯的清理；
	  自己析构的时候也会调用，shouldCallCancel是true，会执行cancel代码；但是因为析构前，EventDispatcher会先调用，
	  所以没有什么用处。
	  不管调用哪个，队列中的定时器都会被清理掉。
说明：timer.inl(44, 17), EventDispatcher.cpp(47)


问题：TimersT模板类getTimerInfo()?
试答：获取定时器信息，目前在cellapp中使用，用于传递定时器信息，不过用法有点迷糊。
说明：timer.inl(185), cellapp.entity.cpp(4320)


问题：TimersT模板类add()?
试答：添加一个Time类对象接口，同时返回一个TimerHandle类对象(为什么不是返回一个Time类对象呢？？？)。
	  需要的参数分别是触发延迟时间，触发间隔时间，触发处理函数，自定义的数据。
说明：timer.inl(21)


问题：TimersT模板类purgeCancelledTimes()?
试答：清理过期的定时器。有时会在脚本层调用delTimer()函数，如果取消很多的话就会触发这个函数。
	  先对定时器按要取消和非取消进行分割排序，要取消的放在后面，统一清理。
	  下了一个断言，清理过后，待清理的数量要小于等于1，因为该函函数是在onCancel()函数中调用。（不明白为啥要等于1）
	  清理容器指针，然后重新排序。
说明：timer.inl(84)


问题：TimersT模板类onCancel()?
试答：处理清理定时器逻辑。在time类对象调用cancel()函数时，如果待取消的定时器超过了总定时器数量的一半时，这个函数
	  会被调用。只不过process()函数在处理定时器时会每帧处理待取消的定时器，所以这个函数理论上不会被调用。
说明：timer.inl(84)


问题：TimersT模板类Time(const Time &)和 Time & operator=(const Time &)函数；
试答：私有化了该函数，所以不允许TimersT模板类的对象赋值和从其他TimersT模板类对象构造。
说明：timer.h(154, 155)


-----------------------------------------------------------------------------------------------------------------------------------------------------
问题：TimeBase类设计说明？
试答：Time类的基类,也是Time类对象暴露给外部的接口。主要时提供一个外部可以调用cancel()的接口。
	  管理自定义属性，管理类对象和处理类对象。
说明：timer.h(71)


问题：TimeBase类构造函数?
试答：需要三个参数，TimersBase类对象，定时处理类对象，和自定义参数。
说明：timer.h(74)


问题：TimeBase类析构函数？
试答：由派生类实现。
说明：timer.h(77)


问题：TimeBase类cancel()函数？
试答：取消定时器接口，释放定时器的Timerhandler类对象。释放的过程如下：
	  调用TimerHandler类的release()函数，在release()函数中减少TimerHandler类对象引用次数，然后调用
	  onRelease()函数，具体释放的逻辑取决于TimerHandler类派生类本身的逻辑业务。
说明：timer.h(79, 62, 53)


问题：TimeBase类getUserData()函数？
试答：获取自定义数据类型
说明：timer.h(81)


问题：TimeBase类isCancelled()函数？
试答：是否取消状态
说明：timer.h(83)


问题：TimeBase类isExecuting()函数？
试答：是否执行状态，没有地方用。
说明：timer.h(84)


-----------------------------------------------------------------------------------------------------------------------------------------------------
问题：Time类设计说明？
试答：在TimersT模板类内部声明为私有，意味着这个类只在TimersT模板类内部使用，主要处理触发事务。
说明：timer.h(139)


问题：Time类构造函数？
试答：不能默认构造，不能复制构造，不能赋值。
说明：timer.h(142)


问题：Time类time()函数？
试答：返回定时器过期时间。
说明：timer.h(145)


问题：Time类interval()函数？
试答：返回定时器间隔时间。
说明：timer.h(146)


问题：Time类triggerTimer()函数？
试答：定时器没有取消设置状态为执行，调用处理函数，如果间隔时间为0并且还没有取消那么就取消一下定时器；
	  如果执行完成定时器，定时器没有被取消，则更新时间，下次继续执行。
说明：timer.inl(243)


-----------------------------------------------------------------------------------------------------------------------------------------------------
问题：TimerHandle类设计说明？
试答：TimerHandle类其实是对TimeBase的封装，因为直接调用指针操作接口是危险的，所以将直接的处理封装在一个类里面，可以提高代码的安全性。
说明：timer.h(139)


问题：TimerHandle类构造函数？
试答：显示构造函数，避免无意的转换。
说明：timer.h(142)


问题：TimerHandle类cancel()函数？
试答：对TimeBase类对象接口cancel的封装，因为TimeBase类对象一般是new出来的指针，对指针的操作做了一层封装，可以简化代码的编写和提高安全性。
说明：timer.cpp(10)


问题：TimerHandle类clearWithoutCancel()函数？
试答：没有地方调用，看起来挺危险的。
说明：timer.h(20)


问题：TimerHandle类isSet()函数？
试答：判断是否已经关联的某个定时器。
说明：timer.h(22)


问题：TimerHandle类operator==()函数？
试答：判断两个TimerHandle是否相等。
说明：timer.h(31)


