问题：TimersBase类设计说明？
试答：纯虚函数，定时器管理类基类，提供onCancel()接口。就2.3.0版本而言，没有特殊用处。
说明：timer.h


问题：TimersT模板类设计说明？
试答：定时器的管理类，根据传入的类型分为64位和32位两个管理类。
说明：timer.h


问题：Timers类构造函数？
试答：初始化成员变量。
说明：timer.inl(6)


问题：Timers类析构函数？
试答：定时器清理，但是因为EventDispatcher类在析构的时候会调用该类的clear()函数，所以这里只是多了一重保证而已。
说明：timer.inl(15)


问题：Timers类size()？
试答：返回队列中定时器数量。
说明：timer.h(115)


问题：Timers类empty()？
试答：返回队列中定时器数量是否为空。
说明：timer.h(116)


问题：Timers类process()？
试答：timeQueue_队列是按时间从小到大排序的，所以在处理队列时，只要是小于等于当前时间的定时器，那么都要进行处理。
	  从队列头部弹出定时器：
	  如果没有被取消则触发定时器的处理逻辑；
	  如果处理完成的定时器还没有被取消则添加到队列末尾；
	  如果是被取消的则从队列中移除；	  
	  
	  pProcessingNode_， lastProcessTime_这个变量2.3.0版本看来没有什么用处。	  
说明：timer.inl(118)


问题：Timers类legal()？
试答：用来检测TimeHandle是否有效的接口。2.3.0办法没有用到。
说明：timer.inl(143)


问题：Timers类nextExp()?
试答：返回距离下次定时器触发的时间。组件会利用这段时间去处理网络事件。见processNetwork()函数。
说明：timer.inl(173)


问题：Timers类clear()?
试答：清理定时器。函数有个参数是shouldCallCancel；
	  EventDispatcher类在析构的时候会调用该类的clear()函数，shouldCallCancel是false，意味着就是单纯的清理；
	  自己析构的时候也会调用，shouldCallCancel是true，会执行cancel代码；但是因为析构前，EventDispatcher会先调用，
	  所以没有什么用处。
	  不管调用哪个，队列中的定时器都会被清理掉。
说明：timer.inl(44, 17), EventDispatcher.cpp(47)


问题：Timers类getTimerInfo()?
试答：获取定时器信息，目前在cellapp中使用，用于传递定时器信息，不过用法有点迷糊。
说明：timer.inl(185), cellapp.entity.cpp(4320)


问题：Timers类add()?
试答：添加一个Time类对象接口，同时返回一个TimerHandle类对象(为什么不是返回一个Time类对象呢？？？)。
	  需要的参数分别是触发延迟时间，触发间隔时间，触发处理函数，自定义的数据。
说明：timer.inl(21)


问题：Timers类purgeCancelledTimes()?
试答：
说明：












